:root{
    --primary-color: #4F88EF; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: #fff;
    margin: 0;
    padding: 0;
    /* background: var(--primary-color); */
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-family: Bello;
    font-size: 26px;
    padding: 20px 30px;
    margin: 0;
    width: 100%;
    top: 0;
    background: var(--primary-color);
}
nav {
    background: var(--primary-color);
}
.navigation {
    width: fit-content;
    height: 15px;
}

ul {
    font-family: Proxima Nova;
    text-align: center;
    padding: 0;
    list-style: none;
    font-size: 24px;
    margin: 0;
    height: 100%;
    padding-top: 100px;
    background: var(--primary-color);
}

li {
    padding: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

a.active {
    text-decoration: underline;
}

a:hover {
    background: #1166A5;
    padding: 3px 10px;
}

.nav__link {
 height: 100vh;

}

.hide {
    display: none;
}

.main {
    background: #fff;
    height: 100%;
}

