:root{
    --primary-color: #4F88EF; 
}

body {
    color: #fff;
    margin: 0;
    padding: 0;
    background: var(--primary-color);

}

header {
    display: flex;
    justify-content: space-between;
    font-family: Bello;
    font-size: 26px;
    padding: 20px 30px;
    margin: 0;
}

ul {
    font-family: Proxima Nova;
    text-align: center;
    padding: 0;
    list-style: none;
    font-size: 24px;
}

li {
    padding: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    background: #1166A5;
    padding: 3px 10px;
}

.nav__link {
 height: 100vh;
}

.hide {
    display: none;
}

.main {
    background: #fff;
    height: 100vh;
}