:root{
    --primary-color: #4F88EF; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #fff;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-family: Bello;
    font-size: 26px;
    padding: 20px 30px;
    width: 100%;
    height: 70px;
    top: 0;
    background: var(--primary-color);
}
nav {
    background: var(--primary-color);
}
.navigation {
    width: fit-content;
    height: 15px;
}

ul {
    font-family: Proxima Nova;
    text-align: center;
    list-style: none;
    font-size: 24px;
    height: 100%;
    padding-top: 100px;
    background: var(--primary-color);
}

li {
    padding: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

a.active {
    text-decoration: underline;
}

a:hover {
    background: #1166A5;
    padding: 3px 10px;
}

.nav__link {
 height: 100vh;

}

.hide {
    display: none;
}

.main {
    background: #fff;
    height: 100%;
}

.nav__btn--closed {
    background: url(Close.svg) no-repeat center;
  }

  .nav__link--desktop {
    display: none;
}

.nav__user-navigation{
    display: none;
}


  @media screen and (min-width: 768px) {  
    header {
        position: static;
    }

    .header__navigation {
        display: none;
    }

    ul {
        font-size: 14px;
        padding: 10px;
    }

    li {
        display: inline;
    }

    .hide {
        display: block;
    }

    .nav__link {
        display: none;
    }

    .nav__link--desktop{
        display: block;
    }

    .nav__user-navigation {
        display: flex;
        align-items: center;
    }

    .nav__button {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 2px, 2px, 2px, 15px;
        border-radius: 20px;
        border: 3px solid #fff;
    }
    
    .nav__humanoids--logo {
        width: 80px;
        height: 10px;
        margin: 15px;
    }

    .nav__picture {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }

    .nav__arrow {
        filter: brightness(0) invert(1);
        height: 7px;
        margin: 15px;
        width: 12px;
    }
  }