body {
    background: #4F88EF;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    font-family: Bello;
    font-size: 26px;
    margin: 20px 30px;
}

ul {
    font-family: Proxima Nova;
    text-align: center;
    padding: 0;
    list-style: none;
    font-size: 24px;
}

li {
    padding: 20px;
}